@import '~styles/settings.scss';

.dropdownWrapper {
  position: relative;
  width: 100%;

  &.flex {
    display: flex;
  }
}

.label {
  position: absolute;
  top: -20px;
  display: block;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  color: $theme-color;
  margin-bottom: 4px;
}
