@import '~styles/layout.scss';

.header {
  min-height: 134px;
  padding-top: 34px;
  margin-bottom: $gutter-padding;
  background-color: $light-gray;
}

.headerLayout {
  @include row();

  align-items: flex-end;
  padding-bottom: 20px;

  &.withActions {
    @media #{$tablet-landscape} {
      @include row($columns: (8, 4, 12));
    }
  }
}

.titleContainer {
  display: flex;
}

.backButton {
  margin: 15px 20px 0 0;
}

.title {
  font-size: $font-size-xl-large;
  font-weight: $font-weight-light;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-negative;
  color: $theme-color;
}

.navLinksLayout {
  @include row();
}

.navLinks {
  padding-left: 5px;
}

.actions {
  padding-top: 12px;
}
