@import '~styles/settings.scss';

.button {
  background-color: $theme-secondary;
  transition: box-shadow 150ms ease-out;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  }

  &:disabled {
    background-color: transparent;
  }
}
