@import '~styles/layout';

.wrapper {
  @include columns((5, 3));

  border-top: 1px solid $border-color;
  padding-top: 50px;
  padding-bottom: 50px;

  > :nth-child(2) {
    @include column-offset(4, $gutters: true);
  }
}

.name {
  font-size: 1.375rem; // 22px / 16px
  color: $theme-color;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  > * {
    margin-left: 15px;
  }
}
