@import '~styles/layout.scss';

.actionsWrapper {
  border-bottom: 1px solid $border-color;
}

.actions {
  @include row(3);

  padding-top: 10px;
  padding-bottom: 40px;
}

.loader {
  margin-top: 0;
}
