@import '~styles/layout';

.wrapper {
  align-items: center;
  border-top: 1px solid $border-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.completed {
  @include columns((5, 3));

  > :nth-child(2) {
    @include column-offset(4, $gutters: true);
  }
}

.uncompleted {
  @include columns((5, 3, 2));

  > :nth-child(2) {
    @include column-offset(2, $gutters: true);
  }
}

.name {
  font-size: 1.375rem; // 22px / 16px
  color: $theme-color;
}

.updateText {
  font-size: $font-size-sm;
  color: $gray;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editButton {
  margin-left: 10px;
}
