---
http_interactions:
- request:
    method: get
    uri: https://www.climatewatchdata.org/api/v1/ndcs?location=BRA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c96f0e02c7311131c52e3424d28fef6e"
    body:
      encoding: UTF-8
      string: '{"categories":{"199":{"name":"Overview","slug":"overview","type":"global"},"200":{"name":"Mitigation","slug":"mitigation","type":"global"},"201":{"name":"Adaptation","slug":"adaptation","type":"global"},"202":{"name":"Sectoral
        Information","slug":"sectoral_information","type":"global"},"203":{"name":"Other
        information","slug":"other_information","type":"global"},"204":{"name":"NDC","slug":"ndc","type":"overview"},"205":{"name":"UNFCCC
        Process","slug":"unfccc_process","type":"overview"},"206":{"name":"The reference
        point (includ[...]
