@import '~styles/layout';

.borderStyles {
  border-top: 1px solid $border-color;
}

.wrapper {
  @include row((6, 4));

  padding-top: 50px;
  padding-bottom: 50px;

  > :nth-child(2) {
    @include column-offset(2, $gutters: true);
  }

  &.textArea {
    @include row((6, 6));

    > :nth-child(2) {
      @include column-offset(0, $gutters: true);
    }
  }
}

.nameWrapper {
  display: flex;
  align-items: baseline;
}

.infoIcon {
  margin-left: 10px;
}

.childrenContainer {
  @include columns(auto);
}

.indicatorTitle {
  font-size: 1.375rem; // 22px / 16px
  color: $theme-color;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.notApplicable {
  background-color: $light-gray;
}