@import '~styles/layout.scss';

.targetsContainer {
  > :first-child {
    border: none;
  }
}

.actionsWrapper {
  border-bottom: 1px solid $border-color;
}

.actions {
  @include row(3);

  padding-top: 10px;
  padding-bottom: 40px;
}

.doubleAction {
  @include row((3, 2));
}
