@import '~styles/layout.scss';

.categoryTitle {
  padding-bottom: $gutter-padding;

  a {
    font-size: $font-size;
    font-weight: $font-weight-bold;
    color: $dark-gray;

    &.active {
      color: $theme-color;
    }
  }
}

.target {
  font-size: $font-size;
  padding-bottom: $gutter-padding;

  a {
    position: relative;
    color: $theme-color;
    text-decoration: none;
    padding-left: 20px;

    &.active::before {
      content: "";
      position: absolute;
      left: 0;
      top: -0.3em;
      background-color: $theme-secondary;
      width: 4px;
      height: 30px;
    }
  }
}
